@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shadow-medium: 0 8px 30px -8px hsl(222 84% 20% / 0.2);
  }
}

@layer utilities {
  .shadow-medium {
    /* on suit la convention Tailwind pour le shadow afin d'éviter les conflits */
    --tw-shadow: var(--shadow-medium);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@font-face {
  font-family: "Poppins";
  /* src: url("./assets/fonts/poppins/Poppins-Thin.ttf") format("truetype"); */
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  /* src: url("./assets/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"); */
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  /* src: url("./assets/fonts/poppins/Poppins-Light.ttf") format("truetype"); */
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  /* src: url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype"); */
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  /* src: url("./assets/fonts/poppins/Poppins-Bold.ttf") format("truetype"); */
  font-weight: 700; /* Bold */
  font-style: normal;
}

.link {
  @apply text-[16px] cursor-pointer border-none hover:text-blue-900 before:ml-auto before:content-[''] before:bg-blue-900 before:block before:transition-all before:delay-150 after:content-[''] after:w-0 after:h-0.5 after:bg-blue-900 after:block after:transition-all after:delay-150  font-[400];
  /* animation: fillBars 2.5s ease-in-out; */
  /* hover:before:w-full hover:after:w-full */
}

.active {
  @apply text-blue-900 border-none before:ml-auto before:content-[''] before:bg-blue-900 before:block before:transition-all before:delay-150 after:content-[''] after:h-0.5 after:bg-blue-900 after:block after:transition-all after:delay-150 before:w-full after:w-full;
}

.banner {
  background-image: url("./assets/images/banner1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-pic {
  position: relative;
  /* background-image: url("./assets/images/Aboulaye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  border-radius: 24px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  background-image: url("./assets/images/Aboulaye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";

  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;
  border-radius: 24px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);

  top: 8%;
  left: 60%;
  width: 100%;
  height: 100%;
}

.content::after {
  position: absolute;
  content: "";

  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: 24px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);

  top: -8%;
  left: 40%;
  width: 100%;
  height: 100%;
}

.about-pic:hover {
  /* transform: translate(0px, -16px); */
  transform: translate(0px, 0px);
}

.about-pic:hover .content::before {
  /* rotate: -8deg; */
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
}

.about-pic:hover .content::after {
  /* rotate: 8deg; */
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
}

.my-anima {
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.trans-anim {
  transition: height 300ms ease-in-out 0s, background-color 200ms linear 200ms;
}

.trans-anim2 {
  transition: height 300ms ease-in-out 0s, background-color 100ms linear 0s;
}

.my-animation {
  position: relative;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Rotation de la main */
@keyframes slide-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(70deg);
  }
}

.my-animation .view-project-tools {
  position: absolute;
  inset: 0;
  width: calc(100% - 1.4rem);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  /* font-weight: bold; */
  right: 100%;
  opacity: 0;
  transition: width 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 100;
}

.my-animation > :not(span) {
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.my-animation:hover .view-project-tools {
  top: 11px;
  left: 11px;
  opacity: 1;
  z-index: 100;
  /* font-size: 1.2em; */
}

@media (max-width: 1266px) {
  .my-animation .view-project-tools {
    /* width: 95%; */
    height: 14rem;
  }
}

@media (max-width: 640px) {
  .my-animation .view-project-tools {
    /* width: 96%; */
    height: 10rem;
  }
}

/* CONTACT  */

.img-contact {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/img-contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* PORTFOLIO LIKED PART */

.mini-portfolio {
  width: 100%;
  height: 200px;
  background-image: url("./assets/images/portfolio_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  scale: 1;
}

.bac-color {
  background: rgb(248 250 252);
  background: linear-gradient(
    0deg,
    rgba(248, 250, 252, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* others for animation */
.bars-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  /* width: 100%;
  height: 100%; */
  /* background-color: #1f242d; */
  /* background-color: rgb(219 234 254); */
  background-image: url("./assets/images/banner1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
  /* transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i)); */
}

/* From Uiverse.io by mrpumps31232 */
.loading-wave {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}
